flows.json
[{"id":"f20cdabc.1b1398","type":"tab","label":"Project flow","disabled":false,"info":""},{"id":"38671aba.155de6","type":"ui_form","z":"f20cdabc.1b1398","name":"","label":"","group":"12a6aa46.d27196","order":1,"width":"6","height":"8","options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["71213b77.241b54"]]},{"id":"71213b77.241b54","type":"function","z":"f20cdabc.1b1398","name":"Input Parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":360,"wires":[["310342f1.598bbe","30424920.87ea36"]]},{"id":"310342f1.598bbe","type":"watson-conversation-v1","z":"f20cdabc.1b1398","name":"Customer Bot","workspaceid":"44c487f4-64ae-4b57-b4ac-242547c99f55","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/40477e93-f8ae-4037-978c-19e478594ef3","timeout":"","optout-learning":false,"x":300,"y":280,"wires":[["28e5ced2.6648c2","7fbd594b.7a8cc8"]]},{"id":"28e5ced2.6648c2","type":"debug","z":"f20cdabc.1b1398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":300,"wires":[]},{"id":"f225dfd7.94983","type":"ui_text","z":"f20cdabc.1b1398","group":"12a6aa46.d27196","order":3,"width":0,"height":0,"name":"Text","label":"Watson Assistant","format":"{{msg.payload}}","layout":"row-left","x":650,"y":140,"wires":[]},{"id":"7fbd594b.7a8cc8","type":"function","z":"f20cdabc.1b1398","name":"parsing","func":"   \nmsg.payload=msg.payload.output.generic[0].text  \n    \n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["f225dfd7.94983"]]},{"id":"30424920.87ea36","type":"ui_text","z":"f20cdabc.1b1398","group":"12a6aa46.d27196","order":2,"width":0,"height":0,"name":"Text ","label":"You","format":"{{msg.payload}}","layout":"row-center","x":330,"y":420,"wires":[]},{"id":"12a6aa46.d27196","type":"ui_group","z":"","name":"Chat Bot for One plus 7 Pro","tab":"89d57155.e3aef","order":1,"disp":true,"width":"6","collapse":false},{"id":"89d57155.e3aef","type":"ui_tab","z":"","name":"Chat Bot","icon":"dashboard","disabled":false,"hidden":false}]